*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --primary-color: #053d2e;
    --btn-color: #00c070;
}
html, body{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
h1, p{
    margin-bottom: 10px;
}
img{
    width: 100%;
    
}
#header-main{
    width: 100%;
    height: 4rem;
    background-color: var(--primary-color);
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
#nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 50px;
    
}
#nav-main .logo{
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #fff;
    border-radius: 50%;
    color: white;
}
#nav-main ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}
#nav-main ul a{
    text-decoration: none;
    color: rgb(204, 204, 200);
    font-weight: 700;
    padding: 2px 0;
}
#nav-main ul a:hover{
    border-bottom: 3px solid;
    transition: 0.1s ease;
}
#nav-main ul a.active{
    border-bottom: 2px solid;
}
.login-main{

}
.login-main button{
    padding: 7px 30px;
    background-color: var(--btn-color);
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 2px;

}
.login-main button:hover{
    background-color: #01995a;
}

#about-section{
    background-color: var(--primary-color);
}
.toggle{
   display: none;
}
.boxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  
}
.boxes .box{
    width: 500px;
    height: auto;
    
    
    
}
.box:nth-child(1){
  padding-bottom: 2rem;
}
.box:nth-child(2){
  padding-bottom: 2rem;
}
iframe{
  border-radius: 10px;
}
.about-title{
    color: rgb(209, 207, 207);
    font-size: 3rem;
    text-shadow: 3px 0 3px rgb(0, 0, 0, 0.8);
}
.about-des{
    color: #cecece;
    letter-spacing: 0.1rem;
}
#about-btn{
    padding: 14px 50px;
    background-color: var(--btn-color);
    border: 0;
    font-size: 1rem;
    color: white;
    border-radius: 3px;
    cursor: pointer;

}
.blog-lang span{
  margin: 2px;
  padding: 3px 8px;
  border-radius: 2px;

}
.blog-lang span:hover{
  background-color: var(--primary-color);
  color: white;
}
/* blog section  */

#blog-section{
  margin-top: 8rem;
  background-color: #ecf3f54b;
  padding: 40px;
  
}
.section-title{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #3d3939;
  
}

.blog-sub-title{
  font-size: 2rem;
  margin: 10px 0;
}
.blog-des{
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
/* learning section  */
#learning{
  margin-top: 7rem;
}
.learning-boxes{
    display: flex;
    gap: 1rem;
}
.learning-box{
  width: 250px;
  height: 250px;
  color: white;
  border-radius: 10px;
  box-shadow: 3px 0 3px rgb(0, 0, 0, 0.3);
  
}
.learning-box:hover{
  transform: translateY(-5px);
  transition: 0.5s ease;
}
.learn-content{
  position: relative;
  top: 40%;
  left: 40%;
  
}
.learning-box:nth-child(2){
  background-color: #292929;
}
.learning-box:nth-child(1){
  background-color: #d8f000;
  color: black;
}
.learning-box:nth-child(3){
  background-color: #ff0000;
}
.learning-box:nth-child(4){
  background-color: #1715a8;
}
/* about pop content  */
#about-pop-content{
  position: fixed;
  width: 900px;
  height: auto;
  background-color: #292929;
  top: 10%;
  left: 20%;
  padding: 50px 50px;
  color: rgb(204, 198, 198);
  border-radius: 10px;
  letter-spacing: 0.1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.3s ease;
  z-index: 2;
  
  
}
#about-pop-content.about-content-active{
  visibility: visible;
  transform: translateY(20px);
  transition: 0.3s ease;
}
#about-pop-content button{
  padding: 10px 30px;
  background-color: var(--btn-color);
  border: 0;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 2px;
  cursor: pointer;
}
#about-pop-content button:hover{
  background-color: #01995a;
}
#about-close{
  position: relative;
  top: -400px;
  left: 620px;
  cursor: pointer;
  color: var(--btn-color);
}
/* login pop ared  */
#login-pop{
  width: 600px;
  height: auto;
  position: fixed;
  top: 15%;
  left: 30%;
  visibility: hidden;
}
#login-pop.login-pop-active{
  visibility: visible;
  transform: translateY(20px);
  transition: 0.3s ease;
}
#login-pop form{
   width: 100%;
   background-color: white;
   padding: 100px 100px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
form input{
  width: 100%;
  padding: 7px 7px;
  margin-bottom: 30px;
}
form input[type='email'],
form input[type='password']{
  border: 0;
  border-bottom: 1px solid #ada7a7;
  outline: none;
}
.login-title{
  position: relative;
  top: -1rem;
}
.login-btn{
  padding: 8px 20px;
  width: 100%;
  border: 0;
  background-color: var(--btn-color);
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.check{
  position: relative;
  left: -190px;
}
.check::after{
  content: 'Remamber';
  position: relative;
  left: 210px;
}
#login-close{
  position: relative;
  top: -300px;
  left: 460px;
  cursor: pointer;
}
#login-pop-main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
  visibility: hidden;
}
#login-pop-main.login-pop-dark{
  visibility: visible;
  
}
/* Tutorial section  */
#tutorial{
  margin-top: 6rem;
}
#subscribe{
  margin-top: 6rem;
}
.register-title{
  position: relative;
  top: -30px;
}
form input[type='text']{
  border: 0;
  outline: none;
  border-bottom: 1px solid #918a8a;
}
.register-btn{
  padding: 10px 30px;
  border: 0;
  background-color: var(--btn-color);
  color: rgb(255, 255, 255);
  border-radius: 2px;
  cursor: pointer;
}
#footer{
 width: 100%;
 
 background-color: #2c2c2c;
}
.footer-content{
  max-width: 1100px;
  margin: auto;
  padding: 50px 0;
}
.footer-boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  
}
.footer-box{
  width: 350px;
  height: auto;

}
.footer-box h3{
  margin-bottom: 5px;
  color: #00c070;

}
.footer-box p{
  color: #adadad;
}
.footer-box a:hover{
  color: #d4d4d4;
}
.footer-box p:hover{
  color: #d4d4d4;
}
.footer-box a{
  text-decoration: none;
  color: #adadad;
}


/* Styles for smartphones */
@media only screen and (max-width: 480px) {
    #nav-main{
        flex-direction: column;
        visibility: hidden;
        }
      
      #nav-main.nav-active{
        visibility: visible;
      }
      #nav-main ul{
        display: inline;
        
        
      }
      #nav-main ul li{
        margin-bottom: 20px;
      }
      .toggle{
        position: relative;
        top: -240px;
        left: 160px;
        display: block !important;
      }
      #menu-bar{
        color: wheat;

      }
      #menu-bar.menu-hide{
        visibility: hidden;
      }
      #close-bar{
        position: relative;
        right: 24px;
        color: wheat;
        visibility: hidden;
      }
      #close-bar.close-active{
        visibility: visible;
      }
      /* about section  */
      .boxes{
        display: flex;
        flex-direction: column;
        max-width: 650px;
        margin: auto;
        padding: 12px;
        justify-content: center;
        align-items: center;
      }
      .boxes .flex-centter{
        text-align: center;
      }
      .boxes .box{
        width: 300px;
        height: auto;
        margin-bottom: 20px;
      }
      /* about pop section  */
      #about-pop-content{
        position: fixed;
        width: 400px;
        height: auto;
        background-color: #292929;
        top: 10%;
        left: 10%;
        padding: 50px 50px;
        color: rgb(204, 198, 198);
        border-radius: 10px;
        letter-spacing: 0.1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        visibility: hidden;
        transform: translateY(-20px);
        transition: 0.3s ease;
        z-index: 2;
        
        
      }
      #about-close{
        position: relative;
        top: -1010px;
        left: 120px;
        cursor: pointer;
        color: var(--btn-color);
      }
      /* learning section  */
      .learning-boxes{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .learning-box{
        width: 350px;
      }
      /* footer section  */
      #footer{
        height: 100%
        
      }
      .footer-content{
        margin: auto;
        max-width: 400px;
        display: flex;

      }
      .footer-boxes{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          margin-left: 5rem;
          
          

      }
      .footer-box{
         width: 100%;
         padding-bottom: 2rem;
      }
  }
  
  /* Styles for tablets */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
      #nav-main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: hidden;
      }
      #nav-main ul{
        display: inline;
        
      }
      #nav-main ul li{
        margin-bottom: 20px;
      }
      .toggle{
        position: absolute;
        top: -220px;
        left: 650px;
      }
      #menu-bar{
        color: wheat;
      }
      #close-bar{
        position: relative;
        right: 24px;
        color: wheat;
        visibility: hidden;
      }
      /* about section  */
      .boxes{
        max-width: 650px;
        margin: auto;
        padding: 12px;
      }
      .boxes .box{
        width: 300px;
        height: auto;
      }
      #about-pop-content{
        position: fixed;
        width: 600px;
        height: auto;
        background-color: #292929;
        top: 10%;
        left: 10%;
        padding: 50px 50px;
        color: rgb(204, 198, 198);
        border-radius: 10px;
        letter-spacing: 0.1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
        visibility: hidden;
        transform: translateY(-20px);
        transition: 0.3s ease;
        z-index: 2;
        
        
      }
      .learning-boxes{
        flex-direction: column;
        max-width: 700px;
        margin: auto;
        align-items: center;
        justify-content: center;
      }
      .learning-box{
        width: 600px;
      }
      #footer{
        
      }
      .footer-content{
          max-width: 700px;
          margin: auto;
      }
      .footer-boxes{
         margin-left: 6rem;
      }
      .footer-box{
        width: 200px;
      }
  }

